@import './reset.scss';

$메인컬러 : skyblue;

.wow-enter {
    opacity: 0;
}

.wow-enter-active {
    opacity: 1;
    transition: all 500ms;
}

.detailPage {
    background-color: $메인컬러;
}

div.container {
    h4 {
        color: blue;
    }
    p {
        color: green;
    }

}

.my-alert {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;

    p {
        margin-bottom: 0;
    }
}

.my-alert2 {
    @extend .my-alert;
    background: #ffe591;
}

@mixin 함수(){
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width:100%;
    margin: auto;

    p {
        margin-bottom: 0;
    }
}

.my-alert3 {
    @include 함수()
}

